.product-item{
    padding: 16px;
    /* border: 1px solid #ccc; */
    border-radius: 3px;
    font-size: 16px;
}

.product-item:nth-child(2n) {
    background: rgba(127, 255, 212, 0.5);
}

.product-image{
    width: 200px;
}