.productList-main-container {
  width: 70%;
  /* border: 1px solid yellow; */
}
.productList-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
  /* border: 1px solid white; */
}
.product-item {
  padding: 16px;
  /* border: 1px solid #ccc; */
  border-radius: 3px;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.5);
}

.product-item:nth-child(2n) {
  background: rgba(127, 255, 212, 0.5);
}
.product-image-container {
  width: 100%;
  aspect-ratio: 1 / 1;

  display: flex;
  justify-content: center;
  align-items: top;
  overflow: hidden;
}
.product-image {
  display: block;
  width: 100%;
}
