.fillBtn,
.lineBtn {
  width: 100%;
  max-width: 200px;
  height: 50px;
  border-radius: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  margin: 0;
}
.fillBtn p,
.lineBtn p {
  margin: auto;
}
.fillBtn {
  background: aquamarine;
  border: solid 1px transparent;
  color: #333;
}
.lineBtn {
  background: none;
  border: solid 3px aquamarine;
  color: #fff;
}
.fillBtn:hover,.lineBtn:hover {
  filter: brightness(0.9);
}
form {
  font-size: 16px;
}