.login{
    border: 1px solid rgba(127, 255, 212,0.5);
    padding: 16px;
    display: inline-block;
    border-radius: 3px;
}
.products{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}
.products > h2{
    width: 100%;
    padding: 0rem 2rem 1rem  
}
.container{
    display: flex;
    flex-direction: row;
}