* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #fff;
  background-color: #8de2d2;
  background: url('./../public/map.jpg') no-repeat center center fixed ;
  background-size: cover;
  
}

.App-link {
  color: #61dafb;
}

h2,
h3 {
  font-weight: normal;
}

p {
  color: #333;
  font-size: 16px;
}
